// SECTION HERO
.hero {
    background-color: $main-color-lighter;
    @extend %section;
}

.hero-title {
    color: $main-color;
    @include title(35px, 'Franklin Gothic Medium');
}

// SECTION ABOUT US
.about-us {
    @extend %section;
}

.about-us-title {
    @include title(30px, 'Gill Sans')
}

.lorem {
    @extend %lorem;

    .link {
        color: $main-color;
        font-size: multiplication(10, 2)+px;

        &:hover {
            color: $main-color-dark;
        }
    }
}

.lorem-hero {
    @extend %lorem;
    color: $main-color;
}